div{
    border:1px solid black;
    min-height: 100px;
    min-width: 20px;
    -ms-min-height: 100px;
    -ms-min-width: 20px;
    -webkit-box-shadow: 2px 2px 2px lightgray;
    box-shadow: 2px 2px 2px lightgray;
}

div.wrapper{
    border: none;
    -webkit-box-shadow: none ;
    box-shadow: none ;

}
p{
    margin:0;
    font-size: 20px;
    font-family: Arial;
    color: black;
}
.wrapper{
    display: grid;
    display: -ms-grid;

    -ms-grid-columns: (auto)[4];

    grid-template-columns: repeat(4,auto);
    -ms-grid-rows: (auto)[2];
    grid-template-rows: repeat(2, auto);
    -ms-grid-columns: auto auto auto auto auto;
    grid-template-areas: "one two two two"
    "three three four four"
    "five five five six";
}
.one{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: one;

    background-color: #F400A1;
}
.two{
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: two;
    background-color: #00FF00;
}
.three{
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: three;
    background-color: #FF0800;
}
.four{
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: four;
    background-color: #FF14FF;
}
.five{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: five;
    float: left;
    background-color: darkgrey;
}
.six{
    -ms-grid-row: 3;
    -ms-grid-column: 4;
    grid-area: six;
    width: 342px;
    float: right;
    background-color: deepskyblue;
}
.text-inline-center{
    padding: 0;
    text-align: center;
}
.text-inline-right{
    text-align: right;
}
.font-size-min{
    font-size: 10px;

}
